<div class="pull-right zone dropdown-menu addtoListZone">
    <ul class="addToListContainer"></ul>
    <div class="controls" {{#unless canAddNewList}}class="hidden"{{/unless}}>
        <a class="btn createNewList text-right" href="#">
            Create new list <i class="fa fa-plus"></i>
        </a>
        <div class="input-append newListNameContainer col-md-12">
            <input placeholder="New list name ..." class="form-control newListName input-small" name="newListName" type="text">
            <input value="Create" class="btn btn-xs btn-primary createNewListSubmit pull-right" type="submit"></div>
    	</div>
</div>