<ul class="dropdown-menu pull-right text-right">
    <li class="hidden">
        <a data-action="follow" class="btn followBtn null text-left" href="#"><i class="fa fa-twitter"></i> {{#if follow}}Unfollow{{else}}Follow{{/if}}</a>
    </li>
    <li>
        <a href="#" class="btn text-left" data-action="displayModal"><i class="fa fa-comment"></i> Tweet</a>
    </li>
    <li>
        <a data-action="linkedin" target="_blank" class="btn text-left" href="http://www.linkedin.com/pub/dir/?first={{screenName}}&amp;last=&amp;search=Go"><i class="fa fa-search"></i> LinkedIn</a>
    </li>
</ul>