<div class="text-center">
    <p>{{{errorMessage}}}</p>
    {{#if showCode}}
    <p>Error Code: {{errorCode}}</p>
    {{/if}}
    <button data-dismiss="modal" class="btn btn-default" type="button">Dismiss</button>
</div>