<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            {{#unless hideCloseButton}}
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            {{/unless}}
            <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
          </div>
          <div class="modal-body">

          </div>
        </div>
    </div>
</div>